.top-header {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  font-size: 12px;
  padding: 8px;
  overflow: hidden;
}
.top-header__animation {
  display: inline-block;
  white-space: nowrap;
  animation: top-text 10s linear infinite;
}
.top-header__text {
  display: inline-block;
  padding-right: 100%;
}

@keyframes top-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header-mobile {
  display: flex;
  flex-direction: column;
}

.nav-bar-mobile {
  padding: 5px;
}

.buttons-position-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-align-mobile {
  align-self: center;
  object-fit: cover;
}

.header-web {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 0 25px 25px 25px;
}

.nav-bar-web {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
}

.logo-align-web {
  object-fit: cover;
}

.login-position-web {
  position: absolute;
  top: 10px;
  right: 10px;
}
