.login-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 5px;
}

.login-page a {
  color: var(--primary-color);
}

.input-login {
  width: 75%;
  background-color: var(--white);
  color: var(--black);
  padding: 5px;
  border: none;
}

.login-email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.showpass-button {
  color: var(--black);
  padding: 5px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  width: 66px;
}

.newuser-button {
  color: var(--black);
  padding: 15px 40px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}
